# COVID-19 DATA WRANGLING WITH PANDAS
   Data Wrangling is the process of cleaning, organizing, structuring, and enriching the raw data to make it more useful for      analysis and visualization purposes. 
   
## Table of Contents
1. Import Libraries   
2. Load Data
3. Cleaning
4. Validation
5. Saving Data


### 1. Import Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### 2. Load Data

In [3]:
# Covid data set in csv format is read and stored in pandas dataframe sf
sf = pd.read_csv("C:\\Users\\dkowu\\Desktop\\owid-covid-data.csv")

Dataframe.head() displays the first 5 rows of the dataframe by default. This is a quick way to access the quality and format of the data before cleaning.

In [4]:
sf.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,new_vaccinations
0,AFG,Asia,Afghanistan,2/24/2020,5.0,5.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,5.0,0.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,5.0,0.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/2020,5.0,0.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/2020,5.0,0.0,NaN,NaN,NaN,NaN

Dataframe.info() is useful in determining the datatypes and number of non null values in each of the columns.
As shown below, the data set contains a lot of missing values and the columns containing numerical data type are in float instead of integer format (since these figures are counts of humans). Also date column should be in datetype format before analysis.

In [5]:
sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197248 entries, 0 to 197247
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   iso_code            197248 non-null  object
 1   continent           185810 non-null  object
 2   location            197248 non-null  object
 3   date                197248 non-null  object
 4   total_cases         189330 non-null  float64
 5   new_cases           189080 non-null  float64
 6   total_deaths        170719 non-null  float64
 7   new_deaths          170693 non-null  float64
 8   total_vaccinations  54275 non-null   float64
 9   new_vaccinations    44506 non-null   float64
dtypes: float64(6), object(4)
memory usage: 15.0+ MB

Dataframe.unique() is effective in finding out if there are no spelling mistakes or null values in non numerical columns. Both continent and country columns are inspected for unique values. As shown below, nan values are found in continent column and names of continent are appearing in countries column.

In [7]:
sf['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [8]:
sf['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Mariana Islands', 'Norway', 'Oceania',
       'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

Finally, Dataframe.describe() gives a brief descriptive statistics of the dataset.

In [9]:
sf.describe()

,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,new_vaccinations
count,1.893300e+05,1.890800e+05,1.707190e+05,170693.000000,5.427500e+04,4.450600e+04
mean,3.491851e+06,1.227929e+04,6.646856e+04,153.828851,2.381467e+08,1.053939e+06
std,2.193982e+07,8.651528e+04,3.456283e+05,778.423702,1.012650e+09,3.939350e+06
min,1.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000e+00,0.000000e+00
25%,2.935250e+03,0.000000e+00,9.800000e+01,0.000000,8.589290e+05,5.127000e+03
50%,3.753450e+04,6.800000e+01,9.640000e+02,1.000000,7.092391e+06,3.851800e+04
75%,4.029455e+05,1.009000e+03,8.679000e+03,17.000000,4.662662e+07,2.729470e+05
max,5.444953e+08,4.079889e+06,6.330572e+06,18156.000000,1.204017e+10,4.967079e+07

### 3. Data Cleaning

Data type in date column is changed from object type to datetime format as shown below

In [10]:
sf = sf.astype({"date": np.datetime64})

The code below is used to create another dataframe containing only null values in the continent column.

In [11]:
bool_series = pd.isnull(sf["continent"])
sf1=sf[bool_series]
sf1.info()
sf1['location'].unique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11438 entries, 855 to 194776
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   iso_code            11438 non-null  object
 1   continent           0 non-null      object
 2   location            11438 non-null  object
 3   date                11438 non-null  datetime64[ns]
 4   total_cases         11431 non-null  float64
 5   new_cases           11438 non-null  float64
 6   total_deaths        11225 non-null  float64
 7   new_deaths          11425 non-null  float64
 8   total_vaccinations  6593 non-null   float64
 9   new_vaccinations    6527 non-null   float64
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 983.0+ KB

array(['Africa', 'Asia', 'Europe', 'European Union', 'High income',
       'International', 'Low income', 'Lower middle income',
       'North America', 'Oceania', 'South America', 'Upper middle income',
       'World'], dtype=object)

As shown above, it can be seen that unique values in the countries column for all null values in continent column are names of continent or income groups. Since I want values in locations column to be only country names, I drop all rows containing null values in the continent column as shown below.

In [12]:
#dropna is a pandas function used to drop all NaN values in a specified column
sf = sf.dropna(subset=['continent'])

From inspection of the dataframe it is evidenced that null values in columns containing covid cases, deaths and vaccinated are during the early stages of covid when those data points were not available. Hence NaN values in those columns are replaced with zero as shown below.

In [13]:
#fillna is a pandas function used to change NaN values to a specific number in all specified columns
sf['total_cases'] = sf['total_cases'].fillna(0)
sf['new_cases'] = sf['new_cases'].fillna(0)
sf['total_deaths'] = sf['total_deaths'].fillna(0)
sf['new_deaths'] = sf['new_deaths'].fillna(0)
sf['total_vaccinations'] = sf['total_vaccinations'].fillna(0)
sf['new_vaccinations'] = sf['new_vaccinations'].fillna(0)

With no NaN values present in dataset, float datatype can now be changed to integer type since counts of humans are whole numbers.

In [14]:
sf = sf.astype({"total_cases": np.int64})
sf = sf.astype({"new_cases": np.int64})
sf = sf.astype({"total_deaths": np.int64})
sf = sf.astype({"new_deaths": np.int64})
sf = sf.astype({"total_vaccinations": np.int64})
sf = sf.astype({"new_vaccinations": np.int64})

The code below is used to trim whitespace in the data.

In [15]:
sf.columns = sf.columns.str.replace(' ', '')

### 4. Validation

As shown below, there are no missing values, Data type for date and numerical columns have been changed to datetime and integer respectively.

In [16]:
sf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185810 entries, 0 to 197247
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   iso_code            185810 non-null  object
 1   continent           185810 non-null  object
 2   location            185810 non-null  object
 3   date                185810 non-null  datetime64[ns]
 4   total_cases         185810 non-null  int64
 5   new_cases           185810 non-null  int64
 6   total_deaths        185810 non-null  int64
 7   new_deaths          185810 non-null  int64
 8   total_vaccinations  185810 non-null  int64
 9   new_vaccinations    185810 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(3)
memory usage: 15.6+ MB

Results below show that there no dublicate rows in the data after the cleaning process.

In [17]:
sf.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
197243    False
197244    False
197245    False
197246    False
197247    False
Length: 185810, dtype: bool

In [18]:
sf.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,new_vaccinations
0,AFG,Asia,Afghanistan,2020-02-24,5,5,0,0,0,0
1,AFG,Asia,Afghanistan,2020-02-25,5,0,0,0,0,0
2,AFG,Asia,Afghanistan,2020-02-26,5,0,0,0,0,0
3,AFG,Asia,Afghanistan,2020-02-27,5,0,0,0,0,0
4,AFG,Asia,Afghanistan,2020-02-28,5,0,0,0,0,0

### 5. Saving to CSV Format

In [20]:
sf.to_csv('C:\\Users\\dkowu\\Desktop\\Covid Data 2022.csv')